#signup {
    display: flex;
    flex-direction: column;
    min-width: 325px;
    width: 33%;

    h2 {
        margin-bottom: 1rem;
    }

    input {
        margin:.5rem 0;
        padding: 1rem .5rem;
    }

    p{font-size: 1.2rem;}
    span{font-weight: 700; cursor: pointer;}
    a{color: #fff;}
}

.pass-gen{
    display: flex;
    align-items: center;
    input{margin-right:.5rem; padding:1em;}
}